/*==============================================================================
  CLARITY - SCRIPT UNICO: FIX INDICES + SPs + TEST HARNESS (para Gemini 3)
  Fecha: 2026-01-27
  Objetivo:
   - Corregir Ã­ndices con orden incorrecto (especialmente p_TareaAsignados)
   - Eliminar scans por LTRIM/RTRIM/ISNULL en org filters (ogerencia/subgerencia/area)
   - Quitar CAST(fecha AS DATE) en consultas de Checkins (sargable)
   - Optimizar sp_Tareas_ObtenerPorUsuario (sin MERGE)
   - Agregar TESTS al final (mediciÃ³n simple ms)
==============================================================================*/

USE [Bdplaner];
GO
SET NOCOUNT ON;
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
SET ANSI_PADDING ON;
SET ANSI_WARNINGS ON;
GO

PRINT '>>> INICIO FIX CLARITY';

--------------------------------------------------------------------------------
-- 0) LIMPIEZA: FKs duplicadas (si existen)
--------------------------------------------------------------------------------
IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Tareas_Padre')
BEGIN
    ALTER TABLE dbo.p_Tareas DROP CONSTRAINT FK_Tareas_Padre;
    PRINT '    - DROP FK duplicada: FK_Tareas_Padre';
END

IF EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_p_Tareas_Padre')
BEGIN
    ALTER TABLE dbo.p_Tareas DROP CONSTRAINT FK_p_Tareas_Padre;
    PRINT '    - DROP FK duplicada: FK_p_Tareas_Padre';
END
GO

--------------------------------------------------------------------------------
-- 1) COLUMNAS NORMALIZADAS (PERSISTED) PARA EVITAR LTRIM/RTRIM EN QUERIES
--------------------------------------------------------------------------------
PRINT '>>> [1] Columnas normalizadas en p_Usuarios';

IF COL_LENGTH('dbo.p_Usuarios', 'ogerencia_norm') IS NULL
    EXEC('ALTER TABLE dbo.p_Usuarios ADD ogerencia_norm AS NULLIF(LTRIM(RTRIM(ogerencia)), '''') PERSISTED;');

IF COL_LENGTH('dbo.p_Usuarios', 'subgerencia_norm') IS NULL
    EXEC('ALTER TABLE dbo.p_Usuarios ADD subgerencia_norm AS NULLIF(LTRIM(RTRIM(subgerencia)), '''') PERSISTED;');

IF COL_LENGTH('dbo.p_Usuarios', 'area_norm') IS NULL
    EXEC('ALTER TABLE dbo.p_Usuarios ADD area_norm AS NULLIF(LTRIM(RTRIM(area)), '''') PERSISTED;');

IF COL_LENGTH('dbo.p_Usuarios', 'primer_nivel_norm') IS NULL
    EXEC('ALTER TABLE dbo.p_Usuarios ADD primer_nivel_norm AS NULLIF(LTRIM(RTRIM(primer_nivel)), '''') PERSISTED;');

GO

--------------------------------------------------------------------------------
-- 2) INDICES: CORRECCIONES Y NUEVOS (SAFE: drop/recreate)
--------------------------------------------------------------------------------
PRINT '>>> [2] Ãndices crÃ­ticos';

-- 2.1 p_TareaAsignados: FIX orden del Ã­ndice (carnet debe ir primero)
IF EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_p_TareaAsignados_Carnet_Tarea' AND object_id = OBJECT_ID('dbo.p_TareaAsignados'))
BEGIN
    DROP INDEX IX_p_TareaAsignados_Carnet_Tarea ON dbo.p_TareaAsignados;
    PRINT '    - DROP Index: IX_p_TareaAsignados_Carnet_Tarea';
END
GO
CREATE INDEX IX_p_TareaAsignados_Carnet_Tarea
ON dbo.p_TareaAsignados (carnet, idTarea)
INCLUDE (esResponsable);
GO
PRINT '    + CREATE Index: IX_p_TareaAsignados_Carnet_Tarea (carnet,idTarea) INCLUDE(esResponsable)';
GO

-- 2.2 p_Checkins: asegurar seek por usuarioCarnet + fecha (ya existe en tu DDL pero lo garantizamos)
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_p_Checkins_Usuario_Fecha' AND object_id = OBJECT_ID('dbo.p_Checkins'))
BEGIN
    CREATE INDEX IX_p_Checkins_Usuario_Fecha ON dbo.p_Checkins (usuarioCarnet, fecha);
    PRINT '    + CREATE Index: IX_p_Checkins_Usuario_Fecha';
END
GO

-- 2.3 p_Tareas: Ã­ndice real para filtros por creadorCarnet/estado/fechas (tu IX actual estÃ¡ mal ordenado y mezcla columnas raras)
IF EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_p_Tareas_Estado_FechaObjetivo' AND object_id = OBJECT_ID('dbo.p_Tareas'))
BEGIN
    DROP INDEX IX_p_Tareas_Estado_FechaObjetivo ON dbo.p_Tareas;
    PRINT '    - DROP Index: IX_p_Tareas_Estado_FechaObjetivo (malo para los WHERE reales)';
END
GO
CREATE INDEX IX_p_Tareas_CreadorCarnet_Filtros
ON dbo.p_Tareas (activo, creadorCarnet, estado, fechaObjetivo)
INCLUDE (
    idTarea, idProyecto, nombre, descripcion, prioridad, porcentaje,
    fechaCreacion, fechaCompletado, orden, idTareaPadre, idPlan,
    comportamiento, idGrupo, numeroParte
);
GO
PRINT '    + CREATE Index: IX_p_Tareas_CreadorCarnet_Filtros';
GO

-- 2.4 p_Usuarios: tu IX_p_Usuarios_Carnet estÃ¡ con llave rara (idUsuario,nombre,correo,...,carnet). Se reemplaza.
IF EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_p_Usuarios_Carnet' AND object_id = OBJECT_ID('dbo.p_Usuarios'))
BEGIN
    DROP INDEX IX_p_Usuarios_Carnet ON dbo.p_Usuarios;
    PRINT '    - DROP Index: IX_p_Usuarios_Carnet (llave incorrecta)';
END
GO
CREATE INDEX IX_p_Usuarios_Carnet
ON dbo.p_Usuarios (carnet)
INCLUDE (idUsuario, nombre, nombreCompleto, correo, idRol, activo, rolGlobal, cargo);
GO
PRINT '    + CREATE Index: IX_p_Usuarios_Carnet (carnet) INCLUDE(...)';
GO

-- 2.5 Ãndice para combos de org (ogerencia/subgerencia/area) SIN LTRIM/RTRIM
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_p_Usuarios_OrgNorm' AND object_id = OBJECT_ID('dbo.p_Usuarios'))
BEGIN
    CREATE INDEX IX_p_Usuarios_OrgNorm
    ON dbo.p_Usuarios (activo, ogerencia_norm, subgerencia_norm, area_norm, primer_nivel_norm);
    PRINT '    + CREATE Index: IX_p_Usuarios_OrgNorm';
END
GO

--------------------------------------------------------------------------------
-- 3) STORED PROCEDURES: versiones optimizadas
--------------------------------------------------------------------------------

/*--------------------------------------------------------------------------
  3.1 Checkins (reemplaza el legacy con CAST(fecha AS DATE))
---------------------------------------------------------------------------*/
PRINT '>>> [3] sp_Checkins_ObtenerPorUsuarioFecha (nuevo, sargable)';
GO
CREATE OR ALTER PROCEDURE dbo.sp_Checkins_ObtenerPorUsuarioFecha
    @carnet NVARCHAR(50),
    @fecha  DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (1) *
    FROM dbo.p_Checkins
    WHERE usuarioCarnet = @carnet
      AND fecha = @fecha;
END
GO

/*--------------------------------------------------------------------------
  3.2 Org combos (reemplazan queries legacy con LTRIM/RTRIM)
---------------------------------------------------------------------------*/
PRINT '>>> [4] sp_Usuarios_OrgCombos_Distinct (nuevo)';
GO
CREATE OR ALTER PROCEDURE dbo.sp_Usuarios_OrgCombos_Distinct
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        ogerencia_norm   AS ogerencia,
        subgerencia_norm AS subgerencia,
        area_norm        AS area
    FROM dbo.p_Usuarios
    WHERE activo = 1
      AND ogerencia_norm IS NOT NULL
      AND subgerencia_norm IS NOT NULL
      AND area_norm IS NOT NULL
    ORDER BY 1,2,3;
END
GO

PRINT '>>> [5] sp_Usuarios_OrgCombos_Group (nuevo)';
GO
CREATE OR ALTER PROCEDURE dbo.sp_Usuarios_OrgCombos_Group
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ISNULL(ogerencia_norm,   '') AS gerencia,
        ISNULL(subgerencia_norm, '') AS subgerencia,
        ISNULL(primer_nivel_norm,'') AS area
    FROM dbo.p_Usuarios
    WHERE activo = 1
    GROUP BY
        ISNULL(ogerencia_norm,   ''),
        ISNULL(subgerencia_norm, ''),
        ISNULL(primer_nivel_norm,'')
    ORDER BY 1,2,3;
END
GO

/*--------------------------------------------------------------------------
  3.3 Tareas por usuario (reemplaza MERGE, reduce costo y evita duplicados)
---------------------------------------------------------------------------*/
PRINT '>>> [6] sp_Tareas_ObtenerPorUsuario (vTEST optimizada)';
GO
CREATE OR ALTER PROCEDURE dbo.sp_Tareas_ObtenerPorUsuario
    @carnet     NVARCHAR(50),
    @estado     NVARCHAR(50) = NULL,
    @idProyecto INT          = NULL,
    @query      NVARCHAR(100)= NULL,
    @startDate  DATETIME     = NULL,
    @endDate    DATETIME     = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF (@query IS NOT NULL AND LTRIM(RTRIM(@query)) = N'') SET @query = NULL;

    DECLARE @idUsuario INT;
    SELECT TOP (1) @idUsuario = u.idUsuario
    FROM dbo.p_Usuarios u
    WHERE u.carnet = @carnet;

    CREATE TABLE #IdsTareas (idTarea INT NOT NULL PRIMARY KEY);

    ;WITH SourceIds AS (
        -- A) creadas por carnet (rÃ¡pido por IX_p_Tareas_CreadorCarnet_Filtros)
        SELECT t.idTarea
        FROM dbo.p_Tareas t
        WHERE t.activo = 1
          AND t.creadorCarnet = @carnet
          AND (@estado IS NULL OR t.estado = @estado)
          AND (@idProyecto IS NULL OR t.idProyecto = @idProyecto)
          AND (@query IS NULL OR (t.nombre LIKE N'%' + @query + N'%' OR t.descripcion LIKE N'%' + @query + N'%'))
          AND (@startDate IS NULL OR t.fechaObjetivo >= @startDate)
          AND (@endDate   IS NULL OR t.fechaObjetivo <= @endDate)

        UNION

        -- B) asignadas por carnet
        SELECT t.idTarea
        FROM dbo.p_TareaAsignados ta
        INNER JOIN dbo.p_Tareas t ON t.idTarea = ta.idTarea
        WHERE t.activo = 1
          AND ta.carnet = @carnet
          AND (@estado IS NULL OR t.estado = @estado)
          AND (@idProyecto IS NULL OR t.idProyecto = @idProyecto)
          AND (@query IS NULL OR (t.nombre LIKE N'%' + @query + N'%' OR t.descripcion LIKE N'%' + @query + N'%'))
          AND (@startDate IS NULL OR t.fechaObjetivo >= @startDate)
          AND (@endDate   IS NULL OR t.fechaObjetivo <= @endDate)

        UNION

        -- C) legacy idCreador (solo si existe)
        SELECT t.idTarea
        FROM dbo.p_Tareas t
        WHERE t.activo = 1
          AND @idUsuario IS NOT NULL
          AND t.idCreador = @idUsuario
          AND (@estado IS NULL OR t.estado = @estado)
          AND (@idProyecto IS NULL OR t.idProyecto = @idProyecto)
          AND (@query IS NULL OR (t.nombre LIKE N'%' + @query + N'%' OR t.descripcion LIKE N'%' + @query + N'%'))
          AND (@startDate IS NULL OR t.fechaObjetivo >= @startDate)
          AND (@endDate   IS NULL OR t.fechaObjetivo <= @endDate)
    )
    INSERT INTO #IdsTareas (idTarea)
    SELECT DISTINCT idTarea
    FROM SourceIds
    OPTION (RECOMPILE);

    SELECT
        t.idTarea, t.idProyecto,
        t.nombre AS titulo,
        t.descripcion, t.estado, t.prioridad, t.esfuerzo, t.tipo,
        t.fechaCreacion, t.fechaObjetivo, t.fechaCompletado,
        t.porcentaje AS progreso,
        t.orden, t.idCreador, t.fechaInicioPlanificada,
        t.comportamiento, t.idGrupo, t.numeroParte,
        t.fechaActualizacion AS fechaUltActualizacion,
        t.idTareaPadre,
        t.idPlan,
        p.nombre AS proyectoNombre
    FROM #IdsTareas x
    INNER JOIN dbo.p_Tareas t    ON t.idTarea = x.idTarea
    LEFT  JOIN dbo.p_Proyectos p ON p.idProyecto = t.idProyecto
    ORDER BY t.fechaObjetivo ASC, t.idTarea ASC
    OPTION (RECOMPILE);

    DROP TABLE #IdsTareas;
END
GO

--------------------------------------------------------------------------------
-- 4) TEST HARNESS (Gemini 3: ejecutar y comparar ms)
--------------------------------------------------------------------------------
PRINT '>>> [7] TEST HARNESS (ms)';

DECLARE @t0 DATETIME2(3), @t1 DATETIME2(3), @ms INT;

-- A) sp_Tareas_ObtenerPorUsuario
SET @t0 = SYSUTCDATETIME();
EXEC dbo.sp_Tareas_ObtenerPorUsuario
    @carnet='500708', @estado=NULL, @idProyecto=NULL, @query=NULL, @startDate=NULL, @endDate=NULL;
SET @t1 = SYSUTCDATETIME();
SET @ms = DATEDIFF(MILLISECOND, @t0, @t1);
PRINT CONCAT('TEST sp_Tareas_ObtenerPorUsuario ms=', @ms);

-- B) Checkins: reemplazo del legacy CAST
DECLARE @fechaTest DATE = CONVERT(DATE, GETDATE());

SET @t0 = SYSUTCDATETIME();
EXEC dbo.sp_Checkins_ObtenerPorUsuarioFecha @carnet='500708', @fecha=@fechaTest;
SET @t1 = SYSUTCDATETIME();
SET @ms = DATEDIFF(MILLISECOND, @t0, @t1);
PRINT CONCAT('TEST sp_Checkins_ObtenerPorUsuarioFecha ms=', @ms);

-- C) Org combos (antes eran queries legacy con LTRIM/RTRIM)
SET @t0 = SYSUTCDATETIME();
EXEC dbo.sp_Usuarios_OrgCombos_Distinct;
SET @t1 = SYSUTCDATETIME();
SET @ms = DATEDIFF(MILLISECOND, @t0, @t1);
PRINT CONCAT('TEST sp_Usuarios_OrgCombos_Distinct ms=', @ms);

SET @t0 = SYSUTCDATETIME();
EXEC dbo.sp_Usuarios_OrgCombos_Group;
SET @t1 = SYSUTCDATETIME();
SET @ms = DATEDIFF(MILLISECOND, @t0, @t1);
PRINT CONCAT('TEST sp_Usuarios_OrgCombos_Group ms=', @ms);

PRINT '>>> FIN FIX CLARITY';
GO
